<ion-view title="Invoice" id="page5" style="background-color:default;">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Pesanan Anda</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Selat Daging Cacah
                        <span class="item-note">1</span>
                    </ion-item>
                    <ion-item>Selat Iga
                        <span class="item-note">1</span>
                    </ion-item>
                    <ion-item>Sup Matahari
                        <span class="item-note">1</span>
                    </ion-item>
                    <ion-item class="item-divider">Biaya Kirim</ion-item>
                    <ion-item>10000</ion-item>
                    <ion-item class="item-divider">Total Harga</ion-item>
                    <ion-item>30000</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Kirim Ke</div>
            <div class="item item-body">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63282.32617868902!2d110.78379237315954!3d-7.559122517611715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a16627ad11ab1%3A0xe7fe4e0454bc3095!2sSurakarta%2C+Kota+Surakarta%2C+Jawa+Tengah!5e0!3m2!1sid!2sid!4v1462853707951"
                    width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <button id="invoice-button7" class="button button-balanced  button-block">Pilih Lokasi</button>
                <div id="invoice-markdown15" style="color:#000000;">
                    <p>Atau masukan alamat</p>
                </div>
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Alamat</span>
                        <input type="text" placeholder="">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Landmark</span>
                        <input type="text" placeholder="">
                    </label>
                </form>
            </div>
        </div>
        <a ui-sref="tabsController.tersimpan" id="invoice-button8" class="button button-assertive  button-block">Konfirmasi</a>
    </ion-content>
</ion-view>