<ion-view title="Jelajah" hide-back-button="true" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Pencarian">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Cari">
            </label>
        </form>
        <h3 id="jelajah-heading1">Populer</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/7I1KZLZVQjCY87nyfc0e_weekly.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="jelajah-heading5" style="color:#000000;">Terdekat</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/s992BIrUQfWsyewQinlS_near.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="jelajah-heading2">Kategori</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.kategori">
                <img src="img/fTvUYefT6b0WrHVH7dEw_kategori.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="jelajah-heading3">Tempat Baru</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/8P3FlQuvQZGcOpZ5MAam_new.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="jelajah-heading4">Oleh-oleh</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/XxVPCB1KSfKsyos4m24u_oleholeh.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 283px; height: 15px;"></div>
    </ion-content>
</ion-view>