<ion-view title="Kategori" id="page6">
    <ion-content padding="true" class="has-header">
        <h3 id="kategori-heading6" style="color:#050505;">Sarapan</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/fJq8exQRliSvq1JVXUov_nasi_goreng_telur.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="kategori-heading7" style="color:#070707;">Makan Siang</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/HcFPRrWdSbm2NDW67K6A_pecel.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="kategori-heading8" style="color:#000000;">Makan Malam</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/rApJJQSIQAyy4RoFqTsg_ayam_bakar.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="kategori-heading9" style="color:#000000;">Wedangan</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/CZmS7eurS4ihr6Y2lRe9_wedangan.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <h3 id="kategori-heading10" style="color:#000000;">Jajan Pasar</h3>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" ui-sref="tabsController.populer">
                <img src="img/PMkJzNOSxeKBsE4ap3Ft_Jajanan_pasar.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>