<ion-view title="Menu Selat Viens" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left assertive">
                <img src="img/U9JxNAdRoujELS74q83z_selat_solo.jpg">
                <span style="font-size: 12px; color: white; background: rgb(1,178,177); position:absolute; 
                        border-bottom-right-radius: 1em; left:10px; top: 10px; padding: 2px 7px;">Rp 10000</span>
                <h2assertive>Selat Daging Cacah
                    <p style="font-size: 12px; white-space:normal;">Selat dengan daging cacah dan sayuran segar</p>
                    <label class="item item-input" style="height: 30px; width: 100px;">
                        <span class="input-label" style="font-size: 12px;">Jumlah</span>
                          <input type="number" style="font-size: 12px;" min="0">
                    </label> 
                </h2assertive>
            </ion-item>
            <ion-item class="item-thumbnail-left assertive">
                <img src="img/b2qTRNVFQxayBaHtDDHC_Selat_solo.jpg">
                <span style="font-size: 12px; color: white; background: rgb(1,178,177); position:absolute; 
                        border-bottom-right-radius: 1em; left:10px; top: 10px; padding: 2px 7px;">Rp 10000</span>
                <h2assertive>Selat Iga
                    <p style="font-size: 12px; white-space:normal;">Selat dengan daging iga sapi</p>
                    <label class="item item-input" style="height: 30px; width: 100px;">
                        <span class="input-label" style="font-size: 12px;">Jumlah</span>
                          <input type="number" style="font-size: 12px;" min="0">
                    </label>
                </h2assertive>
            </ion-item>
            <ion-item class="item-thumbnail-left assertive">
                <img src="img/usskQ4aTQWZwtfBhpPN5_sup_matahari.jpg">
                <span style="font-size: 12px; color: white; background: rgb(1,178,177); position:absolute; 
                        border-bottom-right-radius: 1em; left:10px; top: 10px; padding: 2px 7px;">Rp 15000</span>
                <h2assertive>Sup Matahari
                    <p style="font-size: 12px; white-space:normal;">Sup matahari membuat bahagia</p>
                    <label class="item item-input" style="height: 30px; width: 100px;">
                        <span class="input-label" style="font-size: 12px;">Jumlah</span>
                          <input type="number" style="font-size: 12px;" min="0">
                    </label>
                </h2assertive>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.invoice" id="menuSelatViens-button6" class="button button-assertive  button-block">Checkout</a>
    </ion-content>
</ion-view>