<ion-view title="Populer" id="page12">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Selat Viens</div>
            <div class="item item-body">
                <div>
                    <img src="img/gcZFeAucRJGTLHbzL6jt_weekly.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="populer-markdown11" style="color:#000000;">
                    <p>Buka
                        <strong>08.00 - 15.00 WIB</strong>
                    </p>
                </div>
                <div id="populer-markdown12" style="color:#000000;">
                    <p>Rumah makan yang menjual makanan khas solo seperti selat, baik selat daging, selat solo, selat iga, sup manten, dll</p>
                </div>
                <a ui-sref="tabsController.selatViens" id="populer-button25" class="button button-assertive button-small button-block">Selengkapnya</a>
                <div class="button-bar">
                    <button id="populer-button26" class="button button-energized button-small button-block icon ion-android-star-outline"></button>
                    <button id="populer-button27" class="button button-positive button-small button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Sate Mbok Galak</div>
            <div class="item item-body">
                <div>
                    <img src="img/oPkdrAowQiK79SaJGeV6_sate_mbok_galak.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="populer-markdown13" style="color:#000000;">
                    <p>Buka
                        <strong>10.00 - 15.00 WIB</strong>
                    </p>
                </div>
                <div id="populer-markdown14" style="color:#000000;">
                    <p>Rumah makan yang menjual sate, tongseng, dan gule</p>
                </div>
                <a ui-sref="tabsController.selatViens" id="populer-button28" class="button button-assertive button-small button-block">Selengkapnya</a>
                <div class="button-bar">
                    <button id="populer-button29" class="button button-energized button-small button-block icon ion-android-star-outline"></button>
                    <button id="populer-button30" class="button button-positive button-small button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>