<ion-view title="Profil" id="page15">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 43px;"></div>
        <div>
            <img src="img/v6SMD7dETPKq6RHUyW8x_photo_2016-05-10_14-30-49.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 30px;"></div>
        <div>
            <ul>
                <li>
                    <p style="text-align: center; font-size: 14px">hamzahppa</p>
                </li>
                <li>
                    <p style="text-align: center; font-size: 14px">hamzah@mail.com</p>
                </li>
            </ul>
        </div>
        <div class="spacer" style="width: 283px; height: 32px;"></div>
        <button id="profil-button9" class="button button-assertive  button-block">Logout</button>
    </ion-content>
</ion-view>