<ion-view title="Selat Viens" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Informasi</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left balanced">
                        <img src="img/J76T9KGRS6eA6B7hUvax_selat_viens.jpg">
                        <h2balanced>Selat Viens
                            <p style="white-space:normal;">Restoran yang menjual menu makanan selat solo</p>
                        </h2balanced>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Menu</div>
            <div class="item item-body">
                <div id="selatViens-markdown9" style="color:#000000;">
                    <p>Selat daging iga
                        <strong>Rp 10.000</strong>
                    </p>
                </div>
                <div id="selatViens-markdown10" style="color:#000000;">
                    <p>Selat daging cacah
                        <strong>Rp 8.500</strong>
                    </p>
                </div>
                <div class="spacer" style="width: 251px; height: 17px;"></div>
                <a ui-sref="tabsController.menuSelatViens" id="selatViens-button20" class="button button-assertive  button-block">Pesan</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lokasi</div>
            <div class="item item-body">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.155849619024!2d110.81506121518586!3d-7.557980194549342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a169ad2687e0b%3A0x1e4117fca398f6f5!2sVien's+Selat+Segar+%26+Sup+Matahari!5e0!3m2!1sid!2sid!4v1462779675338"
                    width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <button id="selatViens-button21" class="button button-assertive  button-block">Lihat Peta</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Galeri</div>
            <div class="item item-body">
                <div>
                    <img src="img/GGufOL8QSPCtKclqLI2t_selat_solo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div class="button-bar">
                    <button id="selatViens-button22" class="button button-assertive  button-block icon ion-ios-arrow-left"></button>
                    <button id="selatViens-button24" class="button button-assertive  button-block icon ion-ios-arrow-right"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>