<ion-view title="Tersimpan" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Selat Viens</div>
            <div class="item item-body">
                <div>
                    <img src="img/gcZFeAucRJGTLHbzL6jt_weekly.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="tersimpan-markdown7" style="color:#000000;">
                    <p>Buka
                        <strong>08.00 - 15.00 WIB</strong>
                    </p>
                </div>
                <div id="tersimpan-markdown8" style="color:#000000;">
                    <p>Rumah makan yang menjual makanan khas solo seperti selat, baik selat daging, selat solo, selat iga, sup manten, dll</p>
                </div>
                <a ui-sref="tabsController.selatViens" id="tersimpan-button18" class="button button-assertive button-small button-block">Selengkapnya</a>
                <div class="button-bar">
                    <button id="tersimpan-button4" class="button button-energized button-small button-block icon ion-android-star-outline"></button>
                    <button id="tersimpan-button5" class="button button-positive button-small button-block icon ion-android-share-alt"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>